/.classpath
/.gradle/
/bin/
/.project
/gradlew
/gradlew.bat
/.settings/
/build/
/settings.gradle
/gradle.properties
/logs/
/Plugin/
/cacheDirectory
/src/main/kotlin/runner

# IDEA
.idea
*.iml
/out/

# Kotlin
*.class

# Package Files #
*.jar

# Gradle
.gradle
!gradle-wrapper.jar
/build/

# Misc
hs_err_pid*